<template>
    <footer>
        <div class="container two-columns">
            <ul class="list-unstyled">
                <li>
                    Made by Andrea
                    <small><a href="https://en.pronouns.page/they" target="_blank" rel="noopener">(they/them)</a></small>
                </li>
                <li>
                    Website:
                    <a href="https://avris.it" target="_blank" rel="noopener">avris.it</a>
                </li>
                <li>
                    Email:
                    <a href="mailto:andrea@avris.it" target="_blank" rel="noopener">andrea@avris.it</a>
                </li>
                <li>
                    Twitter:
                    <a href="https://twitter.com/AvrisIT" target="_blank" rel="noopener">@AvrisIT</a>
                </li>
            </ul>
            <ul class="list-unstyled small">
                <li>
                    This webiste is in no way associated with Simon Anthony or Cracking The Cryptic,
                    <br/>
                    but it is published with Simon's permission.
                </li>
                <li>
                    <a href="https://gitlab.com/Avris/Simon" target="_blank" rel="noopener">Source code</a>
                    is published under
                    <a href="https://mit.avris.it" target="_blank" rel="noopener">MIT License</a>.
                </li>
                <li>
                    I use Matomo to track traffic on the website. Data is anonymised.
                    <a href="https://matomo.org/faq/general/faq_18254/" target="_blank" rel="noopener">More info</a>.
                </li>
                <li>
                    Sound icon by
                    <a href="https://thenounproject.com/hrsaxa/collection/movie-camera-sound-bell-necktie" target="_blank" rel="noopener">Markus</a>
                    from the Noun Project
                </li>
            </ul>
        </div>
    </footer>
</template>

<style lang="scss" scoped>
    @import "assets/variables.scss";

    footer {
        background-color: $dark;
        color: $white;
        a {
            color: lighten($primary, 25%);
            &:hover {
                color: $primary;
            }
        }
    }

    @media(min-width: $breakpoint-sm + 1px) {
        .two-columns {
            display: flex;
            > * {
                width: 50%;
                &:last-child {
                    padding-top: $spacer/2;
                }
            }
        }
    }
</style>
