<template>
    <header class="container">
        <div>
            <h1>Simon Says</h1>
            <p>
                This little app is a tribute to <strong>Simon Anthony</strong>,
                former UK team member in World Sudoku and World Puzzle Championships
                and co-host of a YouTube channel
                <a href="https://www.youtube.com/c/CrackingTheCryptic" target="_blank">Cracking The Cryptic</a>.
            </p>
            <p>
                His catchphrases and reactions
                <a href="https://www.reddit.com/r/sudoku/comments/gx43jh/cracking_the_cryptic_bingo_solve_your_own_puzzle/" target="_blank" rel="noopener">are getting iconic</a>
                among the viewers, so I thought: why not create a reaction board out of them?
            </p>
        </div>
        <div class="drawing">
            <img src="/simon.png" alt="Drawing of Simon"/>
        </div>
    </header>
</template>

<style lang="scss" scoped>
    @import "assets/variables.scss";

    header {
        display: flex;
        justify-content: space-between;
        font-size: 1.4em;
        h1 {
            font-size: 2.4em;
            margin-bottom: $spacer;
        }
    }
    @media (max-width: $breakpoint-sm) {
        header {
            flex-direction: column;
        }
    }
    .drawing {
        text-align: right;
        padding-left: $spacer;
    }
</style>
